<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.Office.Manager_Reg</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/manager_Reg</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>second</servlet-name>
<servlet-class>com.Office.Employee_Reg</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/employee_Reg</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>third</servlet-name>
<servlet-class>com.Office.Manager_Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>third</servlet-name>
<url-pattern>/manager_Login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>four</servlet-name>
<servlet-class>com.Office.Employee_Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>four</servlet-name>
<url-pattern>/employee_Login</url-pattern>
</servlet-mapping>
</web-app>